body {
    font-family: 'Arial', sans-serif;
}

/* main heading*/
h1 {
    text-align: center;
    color: #333;
}

/*search and sort areas */
.search-area {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

/*search input field */
.search-area input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}


button:hover {
    background-color: #0056b3;
}


button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* container for sort controls to align items */
.sort-area {
    display: flex;
    width: 60%; 
    justify-content: center;
    align-items: center;
}

/* select dropdowns in the sort area */
.sort-area select {
    padding: 10px;
    margin: 0 10px;
    border-radius: 20px;
    border: 1px solid #007bff;
    cursor: pointer;
    font-size: 1rem;
    background-color: white;
    color: #007bff;
}
/* layout for product items */
ul {
    list-style: none;
    padding: 0s;
    display:  grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px auto;
    width: 90%;
}

/* individual product item stlyling */
li {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}

/* product images fit within their item boxes */
li img {
    max-width: 100%;
    max-height: 150px;
    display: block;
    margin: 0 auto 20px;
}

/* Flexbox layout for pagination controls */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Styling and layout for form elements  */
.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
}

/* adjustments for inputs and buttons within the form */
.form-inline input, .form-inline button {
    flex: 1; 
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}
.account-actions {
    position: relative;
 
}

.dropdown-menu {
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.dropdown-menu button {
    /* width: fit-content; */
    margin-bottom: 5px;
    background-color: white;
    color: #007bff;
    text-align: center;
}

.dropdown-menu button:last-child {
    margin-bottom: 0;
}


