.dashboard-container {
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}

.dashboard-header {
    margin-bottom: 20px;
}

/*search and sort areas */
.search-sort-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

/* Admin Button Styles */
.admin-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.admin-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right:2px;
    transition: background-color 0.3s ease-in-out;
}

.admin-button:hover {
    background-color: #45a049;
}

/* Product Listing */
.product-listing {
    list-style-type: none;
    padding: 0;
}

.product-item {
    margin-bottom: 20px;
}

.account-actions {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1px;
    margin-bottom: 0px; 
}

.account-button, .cart-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s; 
}

.account-button:hover, .cart-button:hover {
    background-color: #45a049; 
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px; 
}

.dropdown-menu button {
    padding: 10px 20px;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%; 
    text-align: left; 
}

.dropdown-menu button:hover {
    background-color: #f1f1f1;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page-button:hover {
    background-color: #218838;
}

.page-button:disabled {
    opacity: 0.5;
    cursor: default;
}

.page-info {
    font-size: 16px;
}

.select-dropdown {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.update-stock-btn, .add-to-cart-btn {
    margin-top: 10px;
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-stock-btn:hover, .add-to-cart-btn:hover {
    background-color: #fb8c00;
}
